<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Songs</title>
</head>
<body>
<div th:fragment="song_list(songs)">
    <table class="pure-table pure-table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Comments</th>
            <th>Artist</th>
            <th>Feat</th>
            <th>Album</th>
            <th>Year</th>
            <th>Order on album</th>
            <th>Genre</th>
            <th>Duration (seconds)</th>
            <th>Sample rate</th>
            <th>BPM</th>
            <th>Publisher</th>
            <th>Tags</th>
            <th>Overall loudness</th>
            <th>Maximum segment loudness</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.id}"/>
            <td th:text="${song.title}"/>
            <td th:text="${song.comments}"/>
            <td th:text="${song.artist}"/>
            <td th:text="${song.feat}"/>
            <td th:text="${song.album}"/>
            <td th:text="${song.year}"/>
            <td th:text="${song.albumOrder}"/>
            <td th:text="${song.genre}"/>
            <td th:text="${song.duration}"/>
            <td th:text="${song.sampleRate}"/>
            <td th:text="${song.BPM}"/>
            <td th:text="${song.publisher}"/>
            <td th:text="${song.tags}"/>
            <td th:text="${song.overallLoudness}"/>
            <td th:text="${song.maximumSegmentLoudness}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>