<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css"
          integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<div>
    <h2>Get songs which name is starting with given characters:</h2>
    <form th:action="@{/view/showSongsByName}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Starting characters</label>
                <input name="name"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show 10 records starting from given index:</h2>
    <form th:action="@{/view/getTenWithIndex}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Index</label>
                <input name="index" type="number"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show songs ordered by overall loudness ascending or descending</h2>
    <form th:action="@{/view/getOrderedByOverallLoudness}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Ascending</label>
                <input name="ascending" type="checkbox"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show songs with duration within given interval</h2>
    <form th:action="@{/view/getWithMinimalAndMaximalDuration}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Min</label>
                <input name="min" type="number"/>
                <label>Max</label>
                <input name="max" type="number"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show songs from selected album ordered by duration</h2>
    <form th:action="@{/view/getByAlbumSortedByDuration}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Album</label>
                <select name="albumName">
                    <option th:each="album :${albums}" th:value="${album}" th:text="${album}"/>
                </select>
                <label>Ascending</label>
                <input name="ascending" type="checkbox"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show songs with selected artist and publisher</h2>
    <form th:action="@{/view/getSongsWithArtistAndPublisher}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Artist</label>
                <select name="artist">
                    <option th:each="artist :${artists}" th:value="${artist}" th:text="${artist}"/>
                </select>
                <label>Publisher</label>
                <select name="publisher">
                    <option th:each="publisher :${publishers}" th:value="${publisher}" th:text="${publisher}"/>
                </select>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show songs from even or uneven years</h2>
    <form th:action="@{/view/getFromEvenOrUnevenYears}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Even</label>
                <input name="even" type="checkbox"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show given number of shortest and longest songs</h2>
    <form th:action="@{/view/getLongestAndShortestSongs}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>How many</label>
                <input name="howMany" type="number"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show songs with selected tag</h2>
    <form th:action="@{/view/getSongsWithTag}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Tag</label>
                <input name="tag" type="text"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <h2>Show given number of random songs for selected artist</h2>
    <form th:action="@{/view/getRandomSongsFromArtist}" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Artist</label>
                <select name="artist">
                    <option th:each="artist :${artists}" th:value="${artist}" th:text="${artist}"/>
                </select>
                <label>How many</label>
                <input name="howMany" type="number"/>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

</div>
</body>
</html>