<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css"
          integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<a th:href="@{${#httpServletRequest.getRequestURL().toString().replace('view','xml_style')+'?'+#httpServletRequest.getQueryString()}}">XML</a>
<a th:href="@{${#httpServletRequest.getRequestURL().toString().replace('view','json')+'?'+#httpServletRequest.getQueryString()}}">JSON</a>
<a th:href="@{${#httpServletRequest.getRequestURL().toString().replace('view','yaml')+'?'+#httpServletRequest.getQueryString()}}">YAML</a>
<a th:href="@{${#httpServletRequest.getRequestURL().toString().replace('view','ogdl')+'?'+#httpServletRequest.getQueryString()}}">OGDL</a>
<div th:replace="fragments/song_list::song_list(${songs})"></div>
</body>
</html>