<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css"
          integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/grids-responsive-min.css"/>
    <meta charset="UTF-8"/>
    <title>Style xml</title>
    <script>
        function temp1(){
            document.getElementById("form_temp_1").style.display='block';
            document.getElementById("form_temp_2").style.display='none';
            document.getElementById("form_temp_3").style.display='none';
        }
        function temp2(){
            document.getElementById("form_temp_1").style.display='none';
            document.getElementById("form_temp_2").style.display='block';
            document.getElementById("form_temp_3").style.display='none';
        }
        function temp3(){
            document.getElementById("form_temp_1").style.display='none';
            document.getElementById("form_temp_2").style.display='none';
            document.getElementById("form_temp_3").style.display='block';
        }
    </script>
</head>
<body>
<a th:href="@{${#httpServletRequest.getRequestURL().toString().replace('xml_style','xml')+'?'+#httpServletRequest.getQueryString()}}">XML</a>
(Site automatically retrieves last css for your ip address, so you can reuse this with other data)
<div>
    <button type="button" class="pure-button" th:object="${template1}" onclick="temp1()">Template 1</button>
    <button type="button" class="pure-button" th:object="${template2}" onclick="temp2()">Template 2</button>
    <button type="button" class="pure-button" th:object="${template3}" onclick="temp3()">Template 3</button>
    <div id="form_temp_1">
        <form class="pure-form"
              th:action="@{/xml_style/save}" th:object="${template1}" method="post" th:target="_blank">
            <button type="submit" class="pure-button pure-button-primary">Save css</button>
            <button type="reset" class="pure-button pure-button-primary">Reset</button>
            <fieldset>
                <div th:each="parameter,stat : *{parameters}">
                    <label><h2 th:text="${parameter.parameterName}"></h2></label>
                    <div class="pure-g">
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName+'_hide_element'}">Hide element?</label>
                            <input th:name="${parameter.parameterName+'_hide_element'}"
                                   th:field="*{parameters[__${stat.index}__].hideElement}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_text_color'}">Text color</label>
                            <input th:name="${parameter.parameterName + '_text_color'}"
                                   th:field="*{parameters[__${stat.index}__].textColor}" type="color"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_background_color'}">Background
                                color</label>
                            <input type="color" value="#FFFFFF"
                                   th:name="${parameter.parameterName + '_background_color'}"
                                   th:field="*{parameters[__${stat.index}__].backgroundColor}"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_italics'}">Italics</label>
                            <input th:name="${parameter.parameterName + '_italics'}"
                                   th:field="*{parameters[__${stat.index}__].italics}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_underline'}">Underline</label>
                            <input th:name="${parameter.parameterName + '_underline'}"
                                   th:field="*{parameters[__${stat.index}__].underline}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_bold'}">Bold</label>
                            <input th:name="${parameter.parameterName + '_bold'}"
                                   th:field="*{parameters[__${stat.index}__].bold}"
                                   type="checkbox"/>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_letter_spacing'}">Letter spacing (in px)</label>
                            <input th:name="${parameter.parameterName+'_letter_spacing'}"
                                   th:field="*{parameters[__${stat.index}__].letterSpacing}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_line_height'}">Line height (relative to
                                default)</label>
                            <input th:name="${parameter.parameterName+'_letter_height'}"
                                   th:field="*{parameters[__${stat.index}__].lineHeight}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_font_size'}">Font size (in px)</label>
                            <input th:name="${parameter.parameterName+'_font_size'}"
                                   th:field="*{parameters[__${stat.index}__].fontSize}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_margin'}">Margin (in px)</label>
                            <input th:name="${parameter.parameterName+'_margin'}"
                                   th:field="*{parameters[__${stat.index}__].margin}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_padding'}">Padding (in px)</label>
                            <input th:name="${parameter.parameterName+'_padding'}"
                                   th:field="*{parameters[__${stat.index}__].padding}"
                                   type="number"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="form_temp_2" visibility="hidden">
        <form class="pure-form"
              th:action="@{/xml_style/save}" th:object="${template2}" method="post" th:target="_blank">
            <button type="submit" class="pure-button pure-button-primary">Save css</button>
            <button type="reset" class="pure-button pure-button-primary">Reset</button>
            <fieldset>
                <div th:each="parameter,stat : *{parameters}">
                    <label><h2 th:text="${parameter.parameterName}"></h2></label>
                    <div class="pure-g">
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName+'_hide_element'}">Hide element?</label>
                            <input th:name="${parameter.parameterName+'_hide_element'}"
                                   th:field="*{parameters[__${stat.index}__].hideElement}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_text_color'}">Text color</label>
                            <input th:name="${parameter.parameterName + '_text_color'}"
                                   th:field="*{parameters[__${stat.index}__].textColor}" type="color"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_background_color'}">Background
                                color</label>
                            <input type="color" value="#FFFFFF"
                                   th:name="${parameter.parameterName + '_background_color'}"
                                   th:field="*{parameters[__${stat.index}__].backgroundColor}"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_italics'}">Italics</label>
                            <input th:name="${parameter.parameterName + '_italics'}"
                                   th:field="*{parameters[__${stat.index}__].italics}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_underline'}">Underline</label>
                            <input th:name="${parameter.parameterName + '_underline'}"
                                   th:field="*{parameters[__${stat.index}__].underline}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_bold'}">Bold</label>
                            <input th:name="${parameter.parameterName + '_bold'}"
                                   th:field="*{parameters[__${stat.index}__].bold}"
                                   type="checkbox"/>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_letter_spacing'}">Letter spacing (in px)</label>
                            <input th:name="${parameter.parameterName+'_letter_spacing'}"
                                   th:field="*{parameters[__${stat.index}__].letterSpacing}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_line_height'}">Line height (relative to
                                default)</label>
                            <input th:name="${parameter.parameterName+'_letter_height'}"
                                   th:field="*{parameters[__${stat.index}__].lineHeight}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_font_size'}">Font size (in px)</label>
                            <input th:name="${parameter.parameterName+'_font_size'}"
                                   th:field="*{parameters[__${stat.index}__].fontSize}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_margin'}">Margin (in px)</label>
                            <input th:name="${parameter.parameterName+'_margin'}"
                                   th:field="*{parameters[__${stat.index}__].margin}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_padding'}">Padding (in px)</label>
                            <input th:name="${parameter.parameterName+'_padding'}"
                                   th:field="*{parameters[__${stat.index}__].padding}"
                                   type="number"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="form_temp_3" visibility="hidden">
        <form class="pure-form"
              th:action="@{/xml_style/save}" th:object="${template3}" method="post" th:target="_blank">
            <button type="submit" class="pure-button pure-button-primary">Save css</button>
            <button type="reset" class="pure-button pure-button-primary">Reset</button>
            <fieldset>
                <div th:each="parameter,stat : *{parameters}">
                    <label><h2 th:text="${parameter.parameterName}"></h2></label>
                    <div class="pure-g">
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName+'_hide_element'}">Hide element?</label>
                            <input th:name="${parameter.parameterName+'_hide_element'}"
                                   th:field="*{parameters[__${stat.index}__].hideElement}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_text_color'}">Text color</label>
                            <input th:name="${parameter.parameterName + '_text_color'}"
                                   th:field="*{parameters[__${stat.index}__].textColor}" type="color"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_background_color'}">Background
                                color</label>
                            <input type="color" value="#FFFFFF"
                                   th:name="${parameter.parameterName + '_background_color'}"
                                   th:field="*{parameters[__${stat.index}__].backgroundColor}"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_italics'}">Italics</label>
                            <input th:name="${parameter.parameterName + '_italics'}"
                                   th:field="*{parameters[__${stat.index}__].italics}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_underline'}">Underline</label>
                            <input th:name="${parameter.parameterName + '_underline'}"
                                   th:field="*{parameters[__${stat.index}__].underline}"
                                   type="checkbox"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-6">
                            <label th:for="${parameter.parameterName + '_bold'}">Bold</label>
                            <input th:name="${parameter.parameterName + '_bold'}"
                                   th:field="*{parameters[__${stat.index}__].bold}"
                                   type="checkbox"/>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_letter_spacing'}">Letter spacing (in px)</label>
                            <input th:name="${parameter.parameterName+'_letter_spacing'}"
                                   th:field="*{parameters[__${stat.index}__].letterSpacing}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_line_height'}">Line height (relative to
                                default)</label>
                            <input th:name="${parameter.parameterName+'_letter_height'}"
                                   th:field="*{parameters[__${stat.index}__].lineHeight}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_font_size'}">Font size (in px)</label>
                            <input th:name="${parameter.parameterName+'_font_size'}"
                                   th:field="*{parameters[__${stat.index}__].fontSize}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_margin'}">Margin (in px)</label>
                            <input th:name="${parameter.parameterName+'_margin'}"
                                   th:field="*{parameters[__${stat.index}__].margin}"
                                   type="number"/>
                        </div>
                        <div class="pure-form-stacked pure-u-1-5">
                            <label th:for="${parameter.parameterName+'_padding'}">Padding (in px)</label>
                            <input th:name="${parameter.parameterName+'_padding'}"
                                   th:field="*{parameters[__${stat.index}__].padding}"
                                   type="number"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>